*
    box-sizing border-box
    -moz-box-sizing border-box
    font-family Roboto, sans-serif

body
    margin 0

html, body
    height 100%
    width 100%

#app
    min-height 100%
    max-width 100%
    position relative

.screen-container
    max-width 768px
    margin 0 auto
    padding 20px

.align-center
    text-align center

.logo-wrapper
    text-align center
    padding 0 0 20px

    img
        max-width 100%
        width 350px

h3
    margin-top 0

    i
        color #455a64
        font-style normal
