.marks
    display flex
    margin-bottom 20px

    .mark-text
        line-height 50px
        letter-spacing -5px
.no-message
    padding-bottom 20px

.mark-info
    list-style none
    margin 0
    padding 0
    li
        padding-bottom 10px
        i
            vertical-align bottom
            letter-spacing -5px
            padding-right 5px
            width 50px
            text-align center
            background #e0e0e0


.mark-container
    h4
        display flex
        align-items center
        justify-content center
        cursor: pointer

        .material-icons
            color: rgb(244, 67, 54) !important
            padding: 0 5px
            font-size: 22px !important
