.questions-block
    border 1px solid #e0e0e0
    background #f5f5f5
    .question
        padding 10px

.questions-nav
    display flex
    border-top 1px solid #e0e0e0
    & > *
        width 100%

.question
    p
        margin 0
    pre
        overflow auto
        code
            color #f57f17

